*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;   /* 1rem = 10px  */
}
html,body{
  height:100%;
  width:100%;
}

div{
  --main-bg-color: #D9F4FF;
}
:root{
  --main-text-color: #130F49;
}
a, p, span, li, ul, tr, td, section, article, header, footer{
  font-size: 1.7rem;;
  color: var(--main-text-color) important !important;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,.heading, .important{
  font-size:3rem;
}
.flex{
  display: flex;
}

.flex-row{
  flex-flow: row wrap;
}

.flex-column{
  flex-flow: column wrap;
}

.App{
  width:inherit;
  height: inherit;
  padding: 2vmax auto;
  position: relative;
}
#root{
  height:inherit;
  width: inherit;
}

.selectable{
  cursor:pointer;
}

hr{
  border-radius:50%;
}
.centered{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}