.geovisual{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "heading" "mainpage";
    background: #fafafa;
}

.geovisual > .geovisual__mainpage{
    border-radius: 1rem;
    border:solid 1px lightgray;
}

.geovisual__heading{
    grid-area:heading;
    border:none;
    text-align:center;
    font-size:2rem;
    font-weight: bold;
    background: white;
    padding: 1vmax;
    box-shadow: 1px 1px 1rem 0.01rem grey;
}
