.homepage{
    justify-content:space-evenly;
    align-items: stretch;
}
.homepage >*{
    margin: auto 1vmax;
    flex: 1 1 0px;

}
.homepage__container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width:70%;
    margin: 5rem auto;
    height:50%;

}
.homepage__container > *{
    margin-bottom: 2vmax;
}
@media only screen and (max-width:800px){
    .homepage__container{
        width:95% !important;
        height: 90% !important;
    }
    .homepage{
        flex-flow: column wrap !important;
    }
    .homepage > *{
        margin: 1vmax  !important;
    }
}

@media only screen and (max-width:1120px){
    .homepage__container{
        width:89%;
        height: 80% ;
    }
   
}